<fieldset style="padding-left:20px;float:right">
    <legend>Already registered, login here</legend>
    @using (Html.BeginForm("Login", "SignUp", FormMethod.Post, new { @id = "lofinForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-element" id="Name-form-element">
            <strong>Email</strong>
            @Html.TextBox("textboxEmail", "", new { placeholder = "Email", @class = "form-control" })
        </div>
        <div class="form-element" id="email-form-element">
            <strong>Password</strong>
            @Html.Password("textBoxPassword", "", new { placeholder = "Password", @class = "form-control" })
        </div>
        <div class="form-element" id="submit-form-element">
            <input type="submit" name="login" id="login" value="Log In" class="btn btn-default" />
        </div>
    }
</fieldset>

<script>
    @*$("#login").click(function () {
        var emailId = $("#textboxEmail").val();
        var password = $("#textBoxPassword").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Login", "SignUp")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: $('#lofinForm').serialize(),
            success: function (data) {
                alert(1);
                window.location = "http://localhost:54009/Home/";
            }
        })
    });*@
</script>